# compile output
bin/
*.exe
*.o
*.a

# unnecessary weights
weight_files/
*.bin
*.weights
*.safetensors
*.txt
!results/**/*.txt

# AI data
data/

# temp files, including sched .data files
temp/

# python cache
__pycache__/
.ipynb_checkpoints/

.claude/
tools/gpt2/gpt2_onnx/
