# compile output
bin/
*.exe
*.o
nn

# unnecessary weights
weight_files/
*.bin
*.weights
*.safetensors
*.txt
!results/**/*.txt

# AI data
data/

# temp files, including sched .data files
temp/

# raylib third-party (only need src/ to build, not examples/projects)
src/raylib/examples/
src/raylib/projects/

# python cache
__pycache__/
.ipynb_checkpoints/

.claude/
tools/gpt2/gpt2_onnx/
